  @font-face {
    font-family: "Ribeye Marrow";
    src: url("ribeye-marrow.woff2");
  }
  
  @font-face {
    font-family: "Just Another Hand";
    src: url("just-another-hand.woff2");
  }
  
  @font-face {
    font-family: "Lobster";
    src: url("lobster.woff2");
  }

  a {
    color : white;
    size: 5em;
  }
  
  body {
    background-color: hsl(0, 100%, 72%);
  }
  
  h1 {
    font-family: "Ribeye Marrow", cursive;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  p.intro {
    margin-left: 30%;
    margin-right: 30%;
    font-family: sans-serif;
    line-height: 200%;
    text-align: justify;
  }
  
  p.latin {
    color: lavenderblush;
    margin: 0;
    font-family: "Lobster", sans-serif;
    font-size: 2.5rem;
  }
  
  p.espanol {
    margin: 0 0 3rem;
    color: rgb(212, 221, 90);
    font-family: "Just Another Hand", sans-serif;
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-align: right;
  }
  
  cite {
    text-decoration: underline;
  }